

<div class="d-flex justify-content-center gap-4 mt-4 mb-4">
    <button type="submit" class="btn btn-primary "><i class="bi bi-plus-circle"></i>Crear</button>
    <a asp-action="Index" class="btn btn-success btn-sm">Volver Atrás</a>
</div>

