@using DlaccessCore.Models.Models.VehiculoViewModels
@model TipoVehiculo

@{
    ViewData["Title"] = "Editar Tipo de Vehiculo";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success text-center fw-bold">
        @TempData["success"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center fw-bold">
        @TempData["error"]
    </div>
}


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-3">

                <!-- Encabezado -->
                <div class="card-header bg-dark text-white text-center">
                    <h3 class="mb-0"><i class="bi bi-pencil-square me-2"></i> Editar Tipo de Vehiculo</h3>
                </div>

                <!-- Cuerpo -->
                <div class="card-body p-4">
                    <form method="post" asp-action="Edit">
                        <input type="hidden" asp-for="Id" />

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div asp-validation-summary="All" class="alert alert-danger"></div>
                        }

                        <!-- Nombre -->
                        <div class="mb-3">
                            <label asp-for="NombreTipoVehiculo" class="form-label fw-semibold"></label>
                            <input asp-for="NombreTipoVehiculo" class="form-control border border-dark" placeholder="Ingrese la Marca" />
                            <span asp-validation-for="NombreTipoVehiculo" class="text-danger"></span>
                        </div>

                        <!-- Estado -->
                        <div class="mb-3">
                            <label asp-for="Estado" class="form-label fw-semibold"></label>
                            <select asp-for="Estado" class="form-select border border-dark">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>

                        <!-- Botones -->
                        <div class="d-flex justify-content-between mt-4">

                            <button type="submit" class="btn btn-primary bg-dark">
                                <i class="bi bi-check-circle me-2"></i> Editar
                            </button>
                            <a asp-action="Index" class="btn btn-outline-dark btn-sm">Volver Atrás</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}