@{
    ViewData["Title"] = "Modelo";
}


@if (TempData["Success"] != null)
{
    <div id="alert-success" class="alert alert-success text-center fw-bold">
        @TempData["Success"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div id="alert-error" class="alert alert-danger text-center fw-bold">
        @TempData["Error"]
    </div>
}



<div class="container mt-4">
    <div class="row">

        <div class="col-8">
            <h2 class="text-dark">Lista de Modelos</h2>
        </div>

        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary bg-dark">Crear Nuevo Modelo</a>
            <i class="fa-solid fa-plus"></i>
        </div>

    </div>

    <br />
    <br />

    <table id="tblModelo" class=" table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre del Modelo</th>
                <th>Fecha de Creacion</th>
                <th>Fecha de Actualizacion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/Modelo.js"></script>

    <script>
        // Ocultar automáticamente después de 3 segundos (3000 ms)
        setTimeout(function () {
            var successAlert = document.getElementById("alert-success");
            if (successAlert) {
                successAlert.style.display = "none";
            }

            var errorAlert = document.getElementById("alert-error");
            if (errorAlert) {
                errorAlert.style.display = "none";
            }
        }, 1000);
    </script>

}